discord.py
jishaku
datetime
python-dotenv
motor
topggpy
validators
aiohttp
chat_exporter
psutil
fuzzywuzzy
fastapi
uvicorn
memory_profiler 
sentry_sdk
aioboto3
pillow
ffmpeg-python
scipy
matplotlib
numpy
python-Levenshtein